.header {
  background-color: #D9D9D9;
  overflow: hidden;
  border-bottom: 1px solid black;
}


.adjust-user-size{
  font-size: 1.7vw;
  min-height: 20px;
  max-height: 40px;
}


.logo{
  min-width: 100px;
}

#logo-adjust{
  margin-left: 30px;
  padding-top: 12px;
  padding-bottom: 12px;
}


#user-adjust{
  padding-right: 2vw;
}

#text-adjust{
  padding-top: 20px;
  margin-right: 20px;
  font-size: clamp(10px, 2vw, 1.3vw);
}