.sidebar-btn-wrapper{
    padding: 30px 5px;
}
.sidebox{
    height: calc(100vh - 130px);
    /* position: fixed; */
}

/* To change sidebar link's text colour */
a[aria-current="page"] .item-content {
    color: #c39be5; 
    font-weight: bold;
  }
  

a:not([aria-current="page"]) .item-content {
    color: white; 
}

#Menu{
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: inherit;
}
#CDBSidebar{
    background-color: #333;
}

#CDBSidebarFooter{
    text-align: center;
}